*{
    margin:0
}

.note{
    display:flex;
    justify-content:center;
    align-content:center;
    flex-direction:column;
    height:250px;
    width:250px;
    background-color:greenyellow;
    margin-top:10px;
    border-radius:10px;
    padding:20px;
    text-align:center;
    color:rgb(16, 15, 15);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position:relative;
    transition:transform 0.5s ease;

}

.note:hover{
    transform:scale(1.1);
}

.note-form{
    position:fixed;
    top:30%;
    padding:80px;
    background-color:wheat;
    border-radius:20px;
}

.note-form input{
    padding:10px;
    border:none;
    border-radius:10px;
}

#form{
    display:flex;
    flex-direction:column;
}

.wrapper{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    flex-direction:column;
    margin-top:20px;
    padding:20px
}

.add-note-btn{
    background-color:white;
    padding:20px;
    border-radius:25%;
    font-size:30px;
    margin-top:30px;
}

.note-board{
    display:grid;
    align-content:flex-start;
    grid-template-columns:repeat(3,1fr);
    height:100vh;
    gap:10px;

}


.delete-btn{
    position:absolute;
    top:20px;
    right:20px;
    padding:15px;
    font-size:15px;
    background-color:white;
    border-radius:50%;
    border:none;
    transition:transform 0.5s ease
}

.delete-btn:hover{
    transform:scale(1.1);
}